﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app" class="section-explore">
    <div id="header">
        <div class="explore-toolbar new-toolbar">
            <div class="col940">
                <div id="filter-menu" class="toolbar">
                    <div class="toolbar-section">
                        <ul class="ui-box-new choices">
                            <li id="left-de" style="width: 152px;" class="select selectable selected">
                                <a href="#">Dễ</a>
                            </li>
                            <li id="left-trungbinh" style="width: 152px;" class="select selectable">
                                <a href="#">Vừa</a>
                            </li>
                            <li id="left-kho" style="width: 152px;" class="select selectable">
                                <a href="#">Khó</a>
                            </li>
                        </ul>
                    </div>
                    <div class="toolbar-section">
                        <div class="ui-box-new cat-dropdown">
                            <div class="option open" id="filter-category">
                                <div class="ui-select">
                                    <label id="menu-label">Tất cả</label><div class="action"></div>
                                </div>
                                <div id='menu-dropdown' class="ui-dropdown">
                                    <ul>
                                        <li class="separator"><a id="menu-tatca" class="ui-link option-0" href="#">Tất cả</a></li>
                                        <li class=""><a id="menu-ansang" class="ui-link option-1" href="#">Ăn sáng</a></li>
                                        <li class=""><a id="menu-monchinh" class="ui-link option-8" href="#">Món chính</a></li>
                                        <li class=""><a id="menu-trangmieng" class="ui-link option-6" href="#">Tráng miệng</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="content ui-animate-opacity-250" style="opacity: 1;">
        <div id="warning-container"></div>
        <div id="explore-list" class="col870 list-container">
            <div class="thelist">
                <ul data-bind="foreach: foods" id="dish-thumbnails-list" class="ui-list ui-list-dishes ui-thumbs ui-count-12">
                    <li data-bind="event: { mouseover: showItem, mouseout: hideItem }, css: { hover: selected }" class="type-dish ui-count-12">
                        <div class="head">
                            <div class="img dish-img">
                                <div data-bind="style: { backgroundImage: Hinh, opacity: 1 }" class="ui-image ui-animate-opacity-250"></div>
                            </div>

                        </div>

                        <div class="details">
                            <div class="title" style="left: 10px;">
                                <a data-bind="text: TenMon, attr: { href: detail }" class="dish-link internal-link"></a>
                            </div>
                            <div data-bind="text: SoLuongThich" class="num love" style="right: 15px;"></div>
                        </div>
                        <div data-bind="style: { opacity: visible }" class="overlay logged" style="opacity: 0;">
                            <a data-bind="attr: { href: detail }" class="enter dish-link internal-link"></a>

                            <div class="dish-action dish-profile">
                                <div class="icon dish"></div>
                                <a data-bind="attr: { href: detail }" class="internal-link">Công thức</a>
                            </div>
                            <div class="dish-action wished-overlay link-wish">
                                <div class="icon wish"></div>

                                <a data-bind="text: Favourite, click: like" class="wish-action" href="#"></a>

                                <div class="ui-spinner"></div>
                            </div>
                            <div class="dish-action cook-profile">
                                <div class="icon cook"></div>
                                <a class="internal-link" data-bind="attr: { href: store }">Người nấu</a>
                            </div>

                            <div class="center-info"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div id="explore-loader" class="loader"></div>
        </div>
    </div>
</div>

<script>

    var viewModel;
    var loading = false;
    var page = 0;

    var left = 'De';
    var right = 'TatCa';

    $(function () {

        applyBindings();

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                if (loading == true)
                    return;
                loading = true;
                page++;
                viewModel.loadFoods(page);
            }
        });

        $('#filter-category').click(function () {
            if ($('#menu-dropdown').hasClass('open')) {
                $('#menu-dropdown').removeClass('open');
                $('#menu-dropdown').addClass('close');
            } else {
                $('#menu-dropdown').removeClass('close');
                $('#menu-dropdown').addClass('open');
            }
        });

        $('#menu-tatca').click(function () {
            $('#menu-label').text('Tất cả');

            page = 0;
            right = 'TatCa';
            viewModel.loadFoods(0);
        });
        $('#menu-ansang').click(function () {
            $('#menu-label').text('Ăn sáng');

            page = 0;
            right = 'AnSang';
            viewModel.loadFoods(0);
        });
        $('#menu-monchinh').click(function () {
            $('#menu-label').text('Món chính');

            page = 0;
            right = 'MonChinh';
            viewModel.loadFoods(0);
        });
        $('#menu-trangmieng').click(function () {
            $('#menu-label').text('Tráng miệng');

            page = 0;
            right = 'TrangMieng';
            viewModel.loadFoods(0);
        });

        $('#left-de').click(function () {
            $('#left-de').addClass('selected');
            $('#left-trungbinh').removeClass('selected');
            $('#left-kho').removeClass('selected');

            page = 0;
            left = 'De';
            viewModel.loadFoods(0);
        });

        $('#left-trungbinh').click(function () {
            $('#left-de').removeClass('selected');
            $('#left-trungbinh').addClass('selected');
            $('#left-kho').removeClass('selected');

            page = 0;
            left = 'TrungBinh';
            viewModel.loadFoods(0);
        });

        $('#left-kho').click(function () {
            $('#left-de').removeClass('selected');
            $('#left-trungbinh').removeClass('selected');
            $('#left-kho').addClass('selected');

            page = 0;
            left = 'Kho';
            viewModel.loadFoods(0);
        });
    });


    function food(data) {
        var self = this;
        data = data || {};

        self.Favourite = ko.observable('Thích');

        self.MaMon = data.MaMonAn;
        self.TenMon = data.TenMon;
        self.show = ko.observable(0);
        self.visible = ko.observable(0);

        self.SoLuongThich = ko.observable(data.Thich.length);

        self.detail = '@Url.Content("~/dish/")' + data.MaMonAn;
        self.store = '@Url.Content("~/user/")' + data.MaNguoiDung;

        self.Hinh = ko.observable('url(@Url.Content("~/img/icons/default.dish.jpg"))');
        
        if (data.Hinh != null) {
            if (data.Hinh.trim() != '') {
                link = 'url(' + data.Hinh + ')';
                self.Hinh(link);
            }
        }
        if ('@Request.IsAuthenticated.ToString()' == '@Boolean.TrueString') {
            $.ajax({
                type: "GET",
                url: "http://cookbookapi-86.apphb.com/api/Thich/Exists/" + '@HttpContext.Current.User.Identity.Name' + '-' + self.MaMon,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg == 'True') {
                        self.Favourite('Đã thích');
                    }
                }
            });
        }

        this.like = function () {

            if ('@Request.IsAuthenticated.ToString()' == '@Boolean.FalseString') {
                return;
            }

            $.ajax({
                type: "GET",
                url: "http://cookbookapi-86.apphb.com/api/Thich/Add/" + '@HttpContext.Current.User.Identity.Name' + '-' + self.MaMon,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    self.SoLuongThich(msg);
                    self.Favourite('Đã thích');
                }
            });
        }
        this.selected = ko.observable(false);

        this.showItem = function () {
            this.selected(!this.selected());
            self.visible(1);
        }

        this.hideItem = function () {
            this.selected(!this.selected());
            self.visible(0);
        }
    }

    function viewModel() {
        var self = this;

        self.foods = ko.observableArray();

        self.loadFoods = function (page) {
        	var myurl = 'http://cookbookapi-86.apphb.com/api/MonAn/' + left + right + '/';

            console.log(myurl);

            $.ajax({
                type: "GET",
                url: myurl + page,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    console.log(msg);

                    if (page == 0) {
                        var mappedFoods = $.map(msg, function (item) { return new food(item); });
                        self.foods(mappedFoods);
                    } else {
                        ko.utils.arrayForEach(msg, function (item) {
                            self.foods.push(new food(item));
                        });
                    }

                    loading = false;
                }
            });
        }
        page = 0
        self.loadFoods(page);
        return self;
    }

    function applyBindings() {
        viewModel = new viewModel();
        ko.applyBindings(viewModel);
    }

</script>

